<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.duckduckgo.fallback</string>
		<string>features.websearch.youtube.fallback</string>
		<string>features.websearch.amazon.fallback</string>
		<string>features.websearch.wiki.fallback</string>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.images.fallback</string>
		<string>features.websearch.maps.fallback</string>
		<string>features.websearch.wolfram.fallback</string>
	</array>
	<key>fallbacksMode</key>
	<integer>1</integer>
	<key>showContacts</key>
	<false/>
	<key>showDocuments</key>
	<true/>
	<key>showFolders</key>
	<true/>
	<key>showImages</key>
	<true/>
	<key>showTextFiles</key>
	<true/>
</dict>
</plist>
